.game-list {
  h1 {
    margin-bottom: 3rem;
  }
  p {
    margin-bottom: 1.5rem;
  }
  ul > li {
    display: inline-block;
    zoom: 0.75;
    opacity: 0.9;
  }

  li:hover {
    opacity: 1;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  span {
    background-color: #161699;
    color: white;
    font-weight: bolder;
    padding: 0.5rem;
  }

  .button {
    margin-top: 1rem;
    width: 280px;
    display: inline-block;
    background: #161699;
    padding: 16px 30px;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    outline: none;
    text-align: center;
    cursor: pointer;
    &:hover {
      background: lighten(#161699, 10%);
    }
  }
}
