.LandingPage {
  background-color: #69cc84;
  min-height: 100vh;
  padding-top: 6%;

  .profile-gate-label {
    width: 100%;
    color: #fff;
    font-size: 3.75vw;
  }
  ul > li {
    display: inline-block;
    zoom: 0.5;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 0.75vw;
    text-align: center;
    cursor: default;
  }
  .choose-interest {
    .nav-link {
      .profile-image {
        width: 65%;
        height: auto;
      }
      .pc {
        width: 60%;
      }
    }

    .interest {
      padding: 1rem;
      color: #333;
      font-size: 4rem;
    }
    :hover {
      .interest {
        transition: color 200ms ease-out;
        color: #fff;
      }
    }
  }
}
